@using lingua.be;

 @model List<beUser>

@{
	ViewBag.Title = "Users";
	// List<beUser> users = (List<beUser>)ViewBag.userList;
}


<h1>Users</h1>

<button type="button" onclick="window.location.href='@Url.Action("Create")'">Crear</button>


<table class="table">
	<thead>
		<tr>
			<th>
				Email
			</th>
		</tr>
	</thead>
	<tbody>

		@foreach (beUser user in Model)
		{
			<tr>
				<td>@user.Email</td>
			</tr>
		}
	</tbody>

</table>