 @model List<Profile>

<h1>Profile</h1>

<p>
	<a asp-action="Create">Crear</a>
</p>

<table class="table">
	<thead>
		<tr>
			<th>
				English Level
			</th>
			<th>
				Email
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var profile in Model)
		{
			<tr>
				<td>@Html.DisplayFor(m => profile.EnglishLevel)</td>

				<td>@Html.DisplayFor(m => profile.User.Email)</td>

				<td></td>
			</tr>
		}
	</tbody>

</table>